@font-face {
  font-family: "LuckiesGuy";
  src: url("graphics/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "LuckiesGuy";
  background-image: url("graphics/3. Background/Layers/5. Water/D1.png");
  background-size: cover;
  color: white;
}

canvas {
  background-color: black;
  display: none;
}

h1,
h2 {
  color: white;
}

h1 {
  font-size: 96px;
  margin-top: 100px;
}

h2 {
  font-size: 30px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

td {
  padding: 10px;
  text-align: start;
  vertical-align: middle;
}

.tableIMG {
  text-align: center;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startScreen {
  background: url("graphics/3. Background/Mesa de trabajo 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1280px;
  height: 720px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gameoverScreen {
  display: none;
}

.leftSide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center
}

.rightSide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rightSide img {
  max-width: 250px;
  max-height: 150px;
}

.d-key {
  width: 75px;
}

.startGame {
  margin-bottom: 60px;
}

.startGame .button-img {
  width: 250px;
}

.startGame:hover .button-img {
  content: url("graphics/6.Botones/Start/1.png");
}

.menu-button {
  background-color: #7fffe0;
  font-family: "LuckiesGuy";
  font-size: 24px;
  color: #531a82;
  width: 250px;
  height: 81px; 
  border: 4px solid white;
  border-radius: 20px;
  margin: 24px;
}

.menu-button:hover {
  background-color: #531a82;
  color: white;
}

dialog {
  height: 720px;
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: rgba(48, 105, 176, 0.5);
  border: 2px solid #0077b6;
  border-radius: 45px;
  font-size: 1.1em;
  color: white; /* Textfarbe im Dialog auf Weiß setzen */
  display: none;
  flex-direction: column;
}

.dialog-body {
  overflow-y: auto; /* Ermöglicht Scrollen */
  flex: 1;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}


.instruction-header {
  font-size: 1.2em;
  font-weight: bold;
  color: white; /* Überschriften ebenfalls weiß */
}

.highlight {
  color: #7fffe0;
  font-weight: bold;
}

.box {
  border: 2px solid white;
  border-radius: 45px;
  padding: 20px;
  margin: 20px 0;
  background-color: #1b1464;
  color: white; /* Textfarbe in den Boxen auf Weiß setzen */
}

.close-btn {
  width: 150px;
  height: 49px;
  font-family: "LuckiesGuy";
  font-size: 24px;
  background-color: #7fffe0;
  color: #531a82;
  border: 4px solid white;
  border-radius: 20px;
  font-size: 28px;
  margin-top: 20px;
}

.close-btn:hover {
  background-color: #531a82;
  color: white;
}

@media only screen and (max-width: 1280px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 720px) {
  canvas {
    height: 100vh;
  }

  dialog {
    height: 100vh;
  }
}
