@font-face {
  font-family: "LuckiesGuy";
  src: url("graphics/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "LuckiesGuy";
  background-image: url("graphics/3. Background/Layers/5. Water/D1.png");
  background-size: cover;
}

canvas {
  background-color: black;
  display: none;
}

h1 {
  font-size: 56px;
  margin-top: 0;
  color: #531a82;
}

h2 {
  font-size: 30px;
  color: white;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

td {
  padding: 10px;
  text-align: start;
  vertical-align: middle;
}

.tableIMG {
  text-align: center;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startScreen {
  background: url("graphics/3. Background/Mesa de trabajo 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1280px;
  height: 720px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gameoverScreen {
  display: none;
}

.leftSide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightSide img {
  max-width: 250px;
  max-height: 150px;
}

.d-key {
  width: 75px;
}

.startGame {
  margin-bottom: 60px;
}

.startGame .button-img {
  width: 250px;
}

.startGame:hover .button-img {
  content: url("graphics/6.Botones/Start/1.png");
}

@media only screen and (max-width: 1280px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 720px) {
  canvas {
    height: 100vh;
  }
}
